@font-face {
  font-family: "Lato Regular";
  font-display: swap;
  src: url(../fonts/Lato/Lato-Regular.woff2) format("woff2");
}

@font-face {
  font-family: "Poppins Bold";
  font-display: swap;
  src: url(../fonts/Poppins/Poppins-Bold.woff2) format("woff2");
}
